table{
  width:75%;
  margin-left: 5%;
  margin-right: 20%;
  border-left: solid;
  border-width: 2px;
  border-color: black;
}

.loadMore{
  margin-top: 3%;
  margin-bottom: 3%;
  padding:4px;
  font-size: 15px;
  text-align: center;
}

td{
  text-align: left;
}
.Timeline{
  text-align: center;
}

.searchElements{
  height:150px;
}


.searchQuery{
  
}
